mixin intro
  // Intro : BEGIN
  table.intro(width="100%")
    tr
      td.gap-bottom.intro__container
        img(src="https://via.placeholder.com/576x200.png", alt="Text Alt", width="576", height="200")
        h1.intro__title Lorem ipsum dolor sit amet
        p.intro__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu nibh euismod, tincidunt augue id, semper nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum purus ac risus viverra porttitor sed id erat. Quisque eros odio, iaculis sit amet ex in, pellentesque efficitur lorem. Nunc ut interdum ipsum, vitae ornare purus. Ut quis sapien libero. Suspendisse suscipit, tortor ut sodales tristique, est velit ullamcorper ante, vitae consectetur nunc lacus id eros. Ut euismod leo eu porttitor viverra.
        +button("#", "Lorem ipsum")(align="center")
  // Intro : END
